<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Blog - Edit</title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
  </header>
  <div class="container">
    <div  class="search-wrapper">
      <div class="new-entry">
          <p>
          <form method="get" action="/posts/<%= title.id %>/edit">
            <input type="submit" class="custom-button2" value="Edit">
          </form>
          <form method="POST" action="/posts/<%= title.id %>?_method=DELETE">
            <input type="submit" class="custom-button2" name="_method" value="DELETE">
          </form>
          <h2 style="background: #928fbd; padding: 20px; margin: 20px 0 0 0;"><%= title.title %></h2>
          <div class="results"><%= title.entry %></div>
        </p>
        <a href="/" class="custom-button2">Back</a>
      </div>
    </div>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
</html>